.cms-header {
  height: var(--header-height);
  background: var(--surface);
  border-bottom: 1px solid var(--border);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
}

.cms-header h2 {
  font-size: 1.3rem;
  color: var(--heading);
}